<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RaveReviews</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://kit.fontawesome.com/3f292a0c23.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsedLinks" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fas fa-music"></i> RaveReviews</a>
            </div>
            <div class="collapse navbar-collapse" id="collapsedLinks">
                <ul class="nav navbar-nav navbar-right">
                    <% if (!currentUser){ %> <!-- Displays different options depending on if a user is logged in or not -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="#"><%= currentUser.username %>
                            <% if(currentUser.isAdmin){ %> <!-- If user is an admin, add - admin after their username -->
                                 - admin
                            <% } %>
                        </a></li> <!--Maybe link to profile pg later-->
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if (error && error.length > 0){ %> <!--error always exists, but is empty unless message passed through-->
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if (success && success.length > 0){ %> <!--success always exists, but is empty unless message passed through-->
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>