<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 class="formHeader"">Add a Festival</h1>
        <div class="formStyling"">
            <form action="/festivals" method="POST">
                <div class="form-group">
                    <label class="pull-left" for="name">Festival Name</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label class="pull-left" for="website">Website Url</label>
                    <input class="form-control" type="text" name="website">
                </div>
                <div class="form-group">
                    <label class="pull-left" for="location">Location</label>
                    <input class="form-control" type="text" placeholder="ex: Las Vegas, NV" name="location">
                </div>
                <div class="form-group">
                    <label class="pull-left" for="dates">Festival Dates</label>
                    <input class="form-control" type="text" placeholder="ex: May 15-17, 2020" name="dates">
                    <!-- Edit later to have dropdown for dates -->
                </div>
                <div class="form-group">
                    <label class="pull-left" for="established">Year Established</label>
                    <input class="form-control" type="text" placeholder="ex: 2012" name="established">
                </div>
                <div class="form-group">
                    <label class="pull-left" for="image">Image Url</label>
                    <input class="form-control" type="text" name="image">
                </div>
                <div class="form-group">
                    <label class="pull-left" for="description">Festival Description</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/festivals">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>