<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add a Festival</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/festivals" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="festival name" name="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="website url" name="website">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="festival dates (ex: May 15-17, 2020)" name="dates">
                    <!-- Edit later to have dropdown for dates -->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="image url" name="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/festivals">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>